*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.menu-container{
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;
}


nav ul li>a{
    text-decoration: none;
}