/* shared style */
 *{ 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
} 
body{
   margin: 0;
}
 .btn-primary{
    border-radius: 8px;
background: #FF900E;
width: 8rem;
height: 3rem;
color: #FFF;
font-weight: 600;
text-align: center;
border: 0;
}
/* header  */
 header{
    background: rgba(255, 144, 14, 0.10);
}
.nav-container{
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    color:  #424242;
    font-weight: 500;
}

nav ul li>a{
    text-decoration: none;
}
.banner-content{
    max-width: 862px;
   text-align: center;
   margin: 0 25rem;
}
header >img{
    width:70%;
   margin: 0 15rem;
}
.nav-title{
    color: #131313;
font: size 2.8rem;;
font-weight: 700;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-weight: 400;
}
.banner-content button{
    margin-bottom: 2rem;
}  


    /* main  */
    /* team section */
    main{
        max-width: 1440px;
        margin: 0 auto;
    }
    .team-container{
        display: flex;
    }
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-right: 4.75rem;
    margin-top: 5rem;
}
.team-content{
    margin-top: 15rem;
}
.team-title{
    width: 29rem;
    font-size: 2.8rem;
}
.quick-list{
    color: #727272;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-weight: 700;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}
.team-description{
    color: #727272;
    font-weight: 400;
line-height: 1.6rem;
width: 33.5rem;
}
    /* feature section */

    /* fact section */
    .fact-title{
        color: #131313;
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    .fact-description{
        color: #727272;
        font-weight: 400;
        line-height: 1.6rem;
    width: 33.5rem;
    margin-top: 0 ;
    }
    .rectangular{
        border-radius: 8px;
border: 1px solid #FF900E;
width: 15rem;
height: 15rem;
    }
    .rectangular-container{
        display: flex;
        gap: 7.8rem;
    }
     .img-caption{
        color: #424242;
        font-size: 2.8rem;
        font-weight: 600;
        text-align: center;
     }
     .img-description{
        color: #727272;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
     }
    .rectangular >img{
        padding: 1rem 6rem 0.5rem 6rem;
    }



/* responsive for small device */
@media screen and (max-width:576px) {
    body{
        margin: 0;
    }
    .team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
        gap: 0.3rem;
        width: 100%;
    }
    .team-content{
        margin-top: 2rem;
    }
    .team-description, .team-title{
        width: 100%;
    }
    .banner-content{
        margin: 0 2rem;
    }
    .nav-container{
        flex-direction: column;
    }
    header img {
        width: 100%;
        margin: 0;
    }
    img{
        width:100%;
    }
   
}


    /* responsive for medium device */
    @media screen  and (min-width: 576.1px)
    and (max-width: 960px)
    {
        body{
            margin: 0;
        }
        .nav-container{
            flex-direction: column;
        }
        header img {
            width: 100%;
            margin: 0;
        }
        .team-container{
            flex-direction: column;
        }
        .team-img-container{
            grid-template-columns: 1fr;
            gap: 1rem;
            width: 100%;
        }
        img{
            width:100%;
        }
        .team-content{
            margin-top: 5rem;
        }
    .banner-content{
        margin: 0 5rem;
    }
    }
